html, body {
  height: 100%;
  margin: 0 auto;
}

#main {
  height: 100%;
}

#landing {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  color: grey;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/landing.jpg');
  opacity: 1.6;
}

#landing-button {
  position: absolute;
  top: 60%;
}

#sidebar {
  float: left;
  height: 100%;
  width: 33%;
}

.selector {
  background-color: black;
  color: white;
}

#map {
  float: left;
  height: 100%;
  width: 67%;
}

.chart {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.chart rect {
  fill: steelblue;
}
.polaroid {
  position: relative;
  width: 220px;
}

.polaroid img {
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}

.polaroid p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font: 400 18px/1 'Kaushan Script', cursive;
  color: #888;
}

#info-box {
  background-color: white;
  border: 1px solid black;
  bottom: 30px;
  height: 20px;
  width: auto;
  padding: 10px;
  position: absolute;
  left: 30px;
}

.axis {
  	  font: 10px sans-serif;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
